//Primary

$violetPrimary: hsl(256, 26%, 20%);
$bluePrimary: hsl(216, 30%, 68%);

//Neutral

$violetNeutral: hsl(270, 9%, 17%);
$grayVioletNeutral: hsl(273, 4%, 51%);
$lightGrayNeutral: hsl(0, 0%, 98%);
